/* HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Sass Frameworks
   ========================================================================== */
/*
==============================
	AGENDA Taipei Base Css
==============================
*/

/* hide text */
.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  color: #ccc; }

/*anchor clear*/
.acc a {
  text-decoration: none; }

/* == NAVIGATION == */
/*clear list style*/
.nav-inl, .nav-fl {
  list-style: none;
  margin: 0;
  padding: 0; }

/*inline nav*/
/*use on ul*/
.nav-inl li {
  display: inline; }

/*float left nev*/
/*use on ul*/
.nav-fl:before,
.nav-fl:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.nav-fl:after {
  clear: both; }

.nav-fl li {
  float: left; }

/*ff dotted killer*/
a:focus, a:active,
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  border: 0;
  outline: 0; }

/* png fix for ie6 */
/* use on png background div or png img */
/* 	Instruct
	include pngBg path

 */
.lt-ie7 img, .lt-ie7 .png {
  position: relative;
  behavior: expression((this.runtimeStyle.behavior="none")&&(this.pngSet?this.pngSet=true:(this.nodeName == "IMG" && this.src.toLowerCase().indexOf('.png')>-1?(this.runtimeStyle.backgroundImage = "none", this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.src + "', sizingMethod='image')", this.src = "data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"):(this.origBg = this.origBg? this.origBg :this.currentStyle.backgroundImage.toString().replace('url("','').replace('")',''), this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.origBg + "', sizingMethod='crop')", this.runtimeStyle.backgroundImage = "none")),this.pngSet=true)); }

/*
==============================
	End AGENDA Taipei Base Css
==============================
*/
/*
==============================
	Luxgen U6 Campaign
==============================
*/
html {
  min-height: 100%; }

html, body {
  height: 100%;
  font-family: "Microsoft JhengHei", sans-serif; }

.outer-wrapper {
  width: 640px;
  margin: 0 auto;
  position: relative;
  overflow: hidden; }

header {
  background-color: #f3f3f3;
  top: 0;
  height: 90px;
  z-index: 510; }
  header h1 {
    float: left; }
    header h1 a {
      background: url(../img/ui/logo.png) 0 0 no-repeat;
      width: 193px;
      height: 37px;
      display: block;
      background-repeat: no-repeat;
      _background: none;
      _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/ui/logo.png',sizingMethod='crop');
      margin-top: 24px;
      margin-left: 30px; }
  header nav {
    height: 100%; }
    header nav ul {
      padding: 0;
      margin: 0;
      width: 100%;
      float: left;
      z-index: 10;
      position: absolute;
      display: none;
      height: 100%;
      top: 90px;}
      header nav ul li {
        width: 100%;
        text-align: center;
        margin: 0;
        background: -webkit-linear-gradient( #b9b9b9, #979797) left repeat;
        background: linear-gradient( #b9b9b9, #979797) left repeat; }
        header nav ul li a {
          display: block;
          color: #fff;
          font-size: 30px;
          line-height: 80px;
          font-family: "Microsoft JhengHei", sans-serif; }
        header nav ul li a:hover, header nav ul li a:visited {
          color: #fff;
          text-decoration: none; }
    header nav ul.open {
      display: block; }
    header nav #navHome, header nav #navToggle {
      width: 99px;
      height: 100%;
      display: block;
      float: right; }
    header nav #navHome {
      background: url(../img/ui/home0.png) no-repeat center center; }
    header nav #navToggle {
      background: url(../img/ui/navListIcon.png) no-repeat center center; }

section {
  position: relative; }

.secWrap {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: 60px auto 0; }

#homeSec {
  background: url("../img/ui/homeBg.jpg") 0 0 no-repeat; }
  #homeSec #u6Wrap {
    margin-top: 36px;
    text-align: center; }

#pollSec {
  background: url("../img/ui/wordBg.jpg") 0 0 no-repeat;
  height:100%; }
#pollResultSec{
  height:100%;
}
.uniSection { 
  min-height: 655px;
}
  .uniSection h2 {
    margin: 0;
    text-align: center; }
    .uniSection h2 img {
      margin-top: 32px; }
  .uniSection #homeCatch {
    text-align: center; }
    .uniSection #homeCatch img {
      float: left;
      margin-top: -40px;
      margin-left: 46px; }
    .uniSection #homeCatch p {
      font-size: 14px;
      color: #333; }
      .uniSection #homeCatch p span {
        font-size: 20px;
        /*color: #00c9e4;*/ }
  .uniSection #homeStart {
    text-align: center;
    width: 100%; }
  .uniSection #mainFoot {
    color: #818181;
    font-size: 12px;
    text-align: center;
    margin-bottom: 10px;
    width: 100%; }

#pollSec .royalSlider {
  width: 640px;
  height: 380px; }

#pollSec .royalSlider .rsSlide img {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9); }

#pollSec .royalSlider .rsActiveSlide img {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  border: 8px solid #fff; }

#pollResultRS {
  width: 640px;
  height: 320px;
  overflow: hidden; }

#rsDesc {
  height: 145px;
  background-color: #fff;
  width: 100%;
  z-index: 99; }
  #rsDesc .secInner .rsDescUnit {
    float: left; }
  #rsDesc .secInner .title {
    padding: 10px 20px; }
    #rsDesc .secInner .title #fbShare {
      left: 380px;
      position: absolute;
      top: 15px;
      margin-bottom:30px;
      z-index: 1001; }
  #rsDesc .secInner .pollRs #pollGroup {
    position: absolute;
    top: 270px;
    left: 5px;
    width: 300px; }
    #rsDesc .secInner .pollRs #pollGroup li {
      margin-left: 4px; }
      #rsDesc .secInner .pollRs #pollGroup li a {
        display: block;
        width: 42px;
        height: 42px;
        background-position: center center; }

#textBeauty {
  background-image: url(../img/wordThumb1_ina.jpg); }

#textCool {
  background-image: url(../img/wordThumb2_ina.jpg); }

#textFantasy {
  background-image: url(../img/wordThumb3_ina.jpg); }

#textHit {
  background-image: url(../img/wordThumb4_ina.jpg); }

#textInnovation {
  background-image: url(../img/wordThumb5_ina.jpg); }

#textBravo {
  background-image: url(../img/wordThumb6_ina.jpg); }

#textBeauty.active {
  background-image: url(../img/wordThumb1.jpg); }

#textCool.active {
  background-image: url(../img/wordThumb2.jpg); }

#textFantasy.active {
  background-image: url(../img/wordThumb3.jpg); }

#textHit.active {
  background-image: url(../img/wordThumb4.jpg); }

#textInnovation.active {
  background-image: url(../img/wordThumb5.jpg); }

#textBravo.active {
  background-image: url(../img/wordThumb6.jpg); }

.slideCpt h2 {
  float: left;
  height: 100%;
  margin: 0 20px 0 0; }
  .slideCpt h2 img {
    width: 156px;
    margin: 0; }
.slideCpt h3 {
  font-size: 32px;
  color: #00b5da; }
.slideCpt p {
  font-size: 20px;
  color: #666;
  line-height: 26px; }

#fbShareWrap {
  text-align: center; }

#success .successText {
  display: block;
  text-align: center;
  line-height: 230px;
  font-weight: 300;
  color: #888; }
#success #successFooter {
  border-top: 1px solid #00b5da;
  border-bottom: 1px solid #00b5da;
  padding: 10px 0; }
  #success #successFooter p {
    text-align: center;
    color: #808080;
    font-weight: 300;
    font-size: 20px;
    margin: 0;
    line-height: 35px; }
  #success #successFooter p.blue {
    color: #00b5da;
    font-size: 24px;
    line-height: 35px; }

.u6Pop {
  background-color: #fff;
  margin: 0 auto;
  width: 505px;
  /*585-80*/
  /*485-80*/
  padding: 40px; }
  .u6Pop .ppWrap {
    position: relative; }
  .u6Pop h3 {
    font-size: 25px;
    line-height: 28px;
    color: #00b5da;
    margin: 0;
    padding: 0;
    font-weight: 300;
    font-family: arial, sans-serif; }
  .u6Pop p {
    padding: 0;
    margin: 20px 0 0 0;
    font-size: 20px;
    font-weight: 900;
    color: #333; }
  .u6Pop .mfp-close {
    position: absolute;
    z-index: 9999;
    right: -35px;
    top: -40px;
    width: 20px;
    height: 20px;
    background: url(../img/mfp-close.png) center center no-repeat; }

#u6Form form {
  margin-top: 35px; }
  #u6Form form .formUnit {
    margin-bottom: 20px; }
  #u6Form form label {
    display: block;
    float: left;
    width: 90px;
    line-height: 28px;
    text-align: left;
    font-size: 18px;
    font-weight: 200;
    color: #555; }
    #u6Form form label a {
      color: #555; }
    #u6Form form label a:hover {
      color: #888; }
  #u6Form form input {
    float: left;
    display: block;
    width: 380px;
    border: 1px solid #ccc;
    padding: 3px; }
  #u6Form form .checkboxer input[type=checkbox] {
    display: none; }
  #u6Form form .checkboxer input[type=checkbox]:checked + label:before {
    content: "\2713";
    font-size: 15px;
    color: #555;
    text-align: center;
    line-height: 15px; }
  #u6Form form .checkboxer label:before {
    content: "";
    display: inline-block;
    line-height: 18px;
    width: 16px;
    height: 16px;
    margin-left: -25px;
    margin-top: 6px;
    position: absolute;
    border: 1px solid #ccc; }
  #u6Form form .checkboxer label {
    width: auto;
    padding-left: 25px; }
  #u6Form form .submiter input {
    color: #fff;
    background-image: url(../img/submitBg.jpg);
    width: 115px;
    height: 35px;
    border: none;
    font-size: 15px;
    margin: 0 auto;
    float: none;
    text-indent: -13px; }

/*
==============================
	magnific popup
==============================
*/
/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
  filter: alpha(opacity=80); }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close, .mfp-arrow, .mfp-preloader, .mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #cccccc;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }

.mfp-preloader a {
  color: #cccccc; }

.mfp-preloader a:hover {
  color: white; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close, button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  -webkit-box-shadow: none;
  box-shadow: none; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: white;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }

.mfp-close:hover, .mfp-close:focus {
  opacity: 1; }

.mfp-close-btn-in .mfp-close {
  color: #333333; }

.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
  color: white;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #cccccc;
  font-size: 12px;
  line-height: 18px; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

.mfp-arrow:active {
  margin-top: -54px; }

.mfp-arrow:hover, .mfp-arrow:focus {
  opacity: 1; }

.mfp-arrow:before, .mfp-arrow:after, .mfp-arrow .mfp-b, .mfp-arrow .mfp-a {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: medium inset transparent; }

.mfp-arrow:after, .mfp-arrow .mfp-a {
  border-top-width: 13px;
  border-bottom-width: 13px;
  top: 8px; }

.mfp-arrow:before, .mfp-arrow .mfp-b {
  border-top-width: 21px;
  border-bottom-width: 21px; }

.mfp-arrow-left {
  left: 0; }

.mfp-arrow-left:after, .mfp-arrow-left .mfp-a {
  border-right: 17px solid white;
  margin-left: 31px; }

.mfp-arrow-left:before, .mfp-arrow-left .mfp-b {
  margin-left: 25px;
  border-right: 27px solid #3f3f3f; }

.mfp-arrow-right {
  right: 0; }

.mfp-arrow-right:after, .mfp-arrow-right .mfp-a {
  border-left: 17px solid white;
  margin-left: 39px; }

.mfp-arrow-right:before, .mfp-arrow-right .mfp-b {
  border-left: 27px solid #3f3f3f; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }

.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px; }

.mfp-iframe-holder .mfp-close {
  top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }

.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: black; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }

.mfp-figure:after {
  content: '';
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #444444; }

.mfp-figure small {
  color: #bdbdbd;
  display: block;
  font-size: 12px;
  line-height: 14px; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #f3f3f3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }

  .mfp-img-mobile img.mfp-img {
    padding: 0; }

  .mfp-img-mobile .mfp-figure {
    /* The shadow behind the image */ }

  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }

  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }

  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0; }

  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }

  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; } }
@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }

  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }

  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }

  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; } }
.mfp-ie7 .mfp-img {
  padding: 0; }

.mfp-ie7 .mfp-bottom-bar {
  width: 600px;
  left: 50%;
  margin-left: -300px;
  margin-top: 5px;
  padding-bottom: 5px; }

.mfp-ie7 .mfp-container {
  padding: 0; }

.mfp-ie7 .mfp-content {
  padding-top: 44px; }

.mfp-ie7 .mfp-close {
  top: 0;
  right: 0;
  padding-top: 0; }

/*
==============================
	end magnific popup
==============================
*/
/*
==============================
	#terms
==============================
*/
#terms {
  background-color: #fafafa; }
  #terms .outer-wrapper {}
  #terms #termsWrap {
    margin: 10px auto;
    color: #555;
    padding: 0 20px;
    font-size: 20px;
    line-height: 28px; }
  #terms #u6Turbo {
    text-align: center; }
  #terms h3, #terms h5 {
    color: #00b5da; }
  #terms h3 {
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 0;
    font-weight: 600; }
  #terms h4 {
    color: #333;
    font-size: 27px;
    margin: 15px 0; }
  #terms .terTitle {
    border-bottom: 1px solid #00b5da; }
  #terms h5 {
    font-size: 20px;
    margin-bottom: 15px; }
  #terms h6 {
    font-size: 20px;
    margin: 0;
    font-weight: 900; }
  #terms p {
    margin-top: 0; }
  #terms ul, #terms ol {
    padding-left: 1.5em;
    list-style-position: outside; }
  #terms li {
    margin-bottom: 20px; }
  #terms #copyright {
    color: #818181;
    display: block;
    font-size: 18px;
    text-align: center;
    margin-top: 50px; }

/*
==============================
	end	#terms
==============================
*/
.capPhrase {
  position: absolute;
  bottom: 1%;
  right: 5%;
  color: #000;
  font-size: 16px;
  padding: 5px;
}
.capPhrase.white{
  color:#fff;
}

.rsContent .comment {
  position: absolute;
  bottom: 60px;
  left: 4%;
  color: #333;
  font-size: 15px;
  width: 180px; }

#ccw{
  width:100%;
  position:absolute;
  bottom:0;
}
/*
==============================
	End	Luxgen U6 Campaign
==============================
*/
.capPhrase {
  position: absolute;
  bottom: 1%;
  right: 5%;
  color: #000;
  font-size: 16px;
  padding: 5px;
}
.capPhrase.white{
  color:#fff;
}
#btnSelect{
  margin-left:13px;
}
.rsContent .comment {
  bottom: 60px;
    color: #333333;
    font-size: 12px;
    left: 4%;
    position: absolute;
    width: 180px; }

/* ==========================================================================
   End Sass Frameworks
   ========================================================================== */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222; }

html {
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
audio,
canvas,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
